{% if site.summary %}
<section class="section summary-section">
	
	<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
	
	<div class="summary">
		<p>
			Recent college graduate with a MS in Software Engineering specializing in Cybersecurity;
			born and raised in Ciudad Juárez, Chihuahua, Mexico. During my student years I
			undertook several internships and contributed to research which enabled me to develop
			the necessary skills and spark motivation. Seeking to employ the programming
			expertise towards the complex	problems that society faces.
		</p>
		<!--<p>{{ site.summary }}</p>-->
	</div><!--//summary-->

</section><!--//section-->
{% endif %}
